{% load static %}

<!DOCTYPE html>
<html lang="id">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="{% static 'tugas_1.css' %}"> -->
    <title>ToysRent - Profil</title>
  </head>

  <body>
    {% include 'navbar.html' %}

		<div class="container bg-light my-3">
      <h1 class="text-center" style="font-size:20pt">
        PROFIL
      </h1>

			<div class="dropdown d-flex justify-content-end my-3">
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Nomor KTP</a>
						<a class="dropdown-item" href="#">Nama Lengkap</a>
						<a class="dropdown-item" href="#">Email</a>
						<a class="dropdown-item" href="#">Tanggal Lahir</a>
						<a class="dropdown-item" href="#">Nomor Telepon</a>
						{% if not is_admin %}
						<a class="dropdown-item" href="#">Poin</a>
						<a class="dropdown-item" href="#">Level</a>
						{% endif %}
					</div>
				</div>
				
				<table class="table table-striped">
					<thead>
						<tr class="bg-primary text-light">
							<th scope="col">Nomor KTP</th>
							<th scope="col">Nama Lengkap</th>
							<th scope="col">Email</th>
							<th scope="col">Tanggal Lahir</th>
							<th scope="col">Nomor Telepon </th>
							{% if not is_admin %}
							<th scope="col">Poin</th>
							<th scope="col">Level</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for pengguna in penggunas %}
						<tr>
							<td> {{pengguna.0}} </td>
							<td> {{pengguna.1}} </td>
							<td> {{pengguna.2}} </td>
							<td> {{pengguna.3}} </td>
							<td> {{pengguna.4}} </td>
							{% if not is_admin %}
							<td> {{pengguna.5}} </td>
							<td> {{pengguna.6}} </td>
							{% endif %}
						</tr>						
						{% endfor %}
					</tbody>
				</table>

		</div>

  </body>
</html>
