{% load static %}

<!DOCTYPE html>
<html lang="id">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />

        <!-- <link rel="stylesheet" href="{% static 'barang.css' %}" /> -->
        <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
        
        <!-- <script src="{% static 'barang.js' %}"></script> -->
        <title>ToysRent - Daftar Barang</title>
    </head>

    <body>
        {% include 'navbar.html' %}

        <div class="container bg-light my-3">

            <div class="dropdown d-flex justify-content-between">
                <h1 class="my-3">Daftar Barang</h1>
                <div class="d-flex flex-row">
                    
                    <a href="/barang/create" type="button" class="btn btn-primary mx-2 my-4">Create Barang</a>
                    <div class="dropdown mx-2 my-3">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for k in kategori %}
                                <a class="dropdown-item" href="?filter={{k.0}}">{{ k.0 }}</a>
                            {% endfor %}
                        </div>
                    </div>
    
                    <div class="dropdown mx-2 my-3">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="?sort=namaAsc">Nama - Asc</a>
                            <a class="dropdown-item" href="?sort=namaDesc">Nama - Desc</a>
                            <a class="dropdown-item" href="?sort=kategoriAsc">Kategori - Asc</a>
                            <a class="dropdown-item" href="?sort=kategoriDesc">Kategori - Desc</a>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr class="bg-primary text-light">
                        <th scope="col">ID Barang</th>
                        <th scope="col">Nama Item</th>
                        <th scope="col">Warna</th>
                        <th scope="col">Kondisi</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in barang %}
                        <tr>
                            <th scope="row">{{ b.0 }}</th>
                            <td>{{ b.1 }}</td>
                            <td>{{ b.2 }}</td>
                            <td>{{ b.4 }}</td>
                            <td>
                                {% if not is_admin %}
                                    <!-- Anggota -->
                                    <input type="checkbox" name="pinjam-1" id="pinjam-1">
                                    <label for="pinjam-1">Pinjam</label>
                                {% else %}
                                    <!-- Admin -->
                                    <a href="/barang/update/{{b.0}}" type="button" class="btn btn-primary">Update</a>
                                    <a href="/barang/delete/{{b.0}}" type="button" class="btn btn-danger">Delete</a>
                                {% endif%}
                                <a href="/barang/detail/{{b.0}}" type="button" class="btn btn-warning">Lihat Detail</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <nav aria-label="Pengiriman page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>

</html>