{% load static %}

<!DOCTYPE html>
<html lang="id">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />

        <link rel="stylesheet" href="{% static 'barang.css' %}" />
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{% static 'barang.js' %}"></script>
        <title>ToysRent - Detail Barang</title>
    </head>

    <body>
        {% include 'navbar.html' %}

        <div class="container bg-light my-3 p-3 d-flex justify-content-center">
            <section>
                <h1>Detail Barang</h1>

                <table class="table table-striped">
                    <thead>
                        <tr class="bg-primary text-light">
                            <th scope="col">Atribut</th>
                            <th scope="col">Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ID Barang</td>
                            <td>{{ barang.0 }}</td>
                        </tr>
                        <tr>
                            <td>Nama Item</td>
                            <td>{{ barang.1 }}</td>
                        </tr>
                        <tr>
                            <td>Warna</td>
                            <td>{{ barang.2 }}</td>
                        </tr>
                        <tr>
                            <td>URL Foto</td>
                            <td><a href="{{ barang.3 }}">{{ barang.3 }}</a></td>
                        </tr>
                        <tr>
                            <td>Kondisi</td>
                            <td>{{ barang.4 }}</td>
                        </tr>
                        <tr>
                            <td>Lama Penggunaan</td>
                            <td>{{ barang.5 }}</td>
                        </tr>
                        <tr>
                            <td>No KTP Pemilik/penyewa</td>
                            <td>{{ barang.6 }}</td>
                        </tr>

                    </tbody>
                </table>

                <a type="button" class="btn btn-primary" href="/pesan/">Pesan</a>
            
                <h2 class="my-3">Review</h2>
                {% for r in review %}
                    <p><i>"{{ r.0 }}"</i></p>
                {% empty %}
                    <p><i>Belum ada review untuk barang ini.</i></p>
                {% endfor %}
            </section>


        </div>
    </body>

</html>