{% load static %}

<!DOCTYPE html>
<html lang="id">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />

        <link rel="stylesheet" href="{% static 'barang.css' %}" />
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{% static 'barang.js' %}"></script>
        <title>ToysRent - Update Barang</title>
    </head>

    <body>
        {% include 'navbar.html' %}

        <div class="container bg-light my-3 d-flex justify-content-center">
            <form action="/barang/update/{{ barang.0 }}" method="POST" class="py-3 col-md-6 ">
                {% csrf_token %}
                <h1 class="text-center" style="font-size:20pt">
                    Form Update Barang
                </h1>

                <div class="form-group">
                    <label for="idBarang">ID Barang</label>
                    <input type="text" class="form-control" id="idBarang" name="idBarang" placeholder="ID barang" value="{{ barang.0 }}">
                </div>

                <div class="form-group">
                    <label for="namaItem">Nama Item</label>
                    <select class="form-control" id="namaItem" name="namaItem">
                        {% for i in item %}
                            {% if i.0 == barang.1 %}
                                <option selected>{{i.0}}</option>
                            {% else %}
                                <option>{{i.0}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="warna">Warna</label>
                    <input type="text" class="form-control" id="warna" name="warna" placeholder="Warna" value="{{ barang.2 }}">
                </div>

                <div class="form-group">
                    <label for="urlFoto">URL Foto</label>
                    <input type="text" class="form-control" id="urlFoto" name="urlFoto" placeholder="URL Foto" value="{{ barang.3 }}">
                </div>

                <div class="form-group">
                    <label for="kondisi">Kondisi</label>
                    <input type="text" class="form-control" id="kondisi" name="kondisi" placeholder="Kondisi" value="{{ barang.4 }}">
                </div>

                <div class="form-group">
                    <label for="lamaPenggunaan">Lama Penggunaan</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="lamaPenggunaan" name="lamaPenggunaan" placeholder="Lama Penggunaan" value="{{ barang.5 }}">
                        <div class="input-group-append">
                            <span class="input-group-text" id="addon-wrapping">bulan</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="penyewa">Pemilik/penyewa</label>
                    <select class="form-control" id="penyewa" name="penyewa">
                        {% for p in penyewa %}
                            {% if p.0 == barang.6 %}
                                <option selected>{{p.0}}</option>
                            {% else %}
                                <option>{{p.0}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <h2>Info barang</h2>
                <ul class="list-group">
                    {% for lvl in info %}
                        <li class="list-group-item">
                            <h4>{{ lvl.1 }}</h4>
                            <div class="form-group row">
                                <label for="persenRoyalty{{lvl.1}}" class="col-sm-4 col-form-label">Persen royalty</label>
                                <div class="input-group col-sm-8">
                                    <input id="persenRoyalty{{lvl.1}}" name="persenRoyalty{{lvl.1}}" type="text" class="form-control" placeholder="Royalti {{lvl.1}}"
                                        aria-describedby="addon-wrapping" value="{{lvl.3}}">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="addon-wrapping">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sewa{{lvl.1}}" class="col-sm-4 col-form-label">Harga sewa</label>
                                <div class="input-group col-sm-8">
                                    <input id="sewa{{lvl.1}}" name="sewa{{lvl.1}}" type="text" class="form-control" placeholder="Harga sewa {{lvl.1}}"
                                        aria-describedby="addon-wrapping" value="{{lvl.2}}">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="addon-wrapping">Rupiah/minggu</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <button type="submit" class="btn btn-primary my-4">Submit</button>
            </form>
        </div>
    </body>

</html>