{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- For Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <title>ToysRent - Daftar Pemesanan</title>
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container bg-light my-3">
        <div class="dropdown d-flex justify-content-end my-3">
            <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">Filter</button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">ID Pemesanan</a>
                <a class="dropdown-item" href="#">Harga Total - Asc</a>
                <a class="dropdown-item" href="#">Harga Total - Desc</a>
                <a class="dropdown-item" href="#">Status - Asc</a>
                <a class="dropdown-item" href="#">Status - Desc</a>
            </div>
        </div>
    
        <table class="table table-striped">
            <thead>
                <tr class="bg-primary text-light">
                <th scope="col">ID Pemesanan</th>
                <th scope="col">Daftar Barang</th>
                <th scope="col">Harga</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for tuple in daftar_pemesanan %}
                <tr>
                    <form>
                    <th scope="row">{{ tuple.0 }}</th>
                    <td>
                        {% for item in tuple.3 %}
                        <li>{{item}}</li>
                        {% endfor %}
                    </td>
                    <td>{{tuple.1}}</td>
                    <td>{{tuple.2}}</td>
                    <td>
                        <a type="button" class="btn btn-primary" href="{% url 'app_pesanan:update_pemesanan' %}">Update</a>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                    </form>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    
        <nav aria-label="Pengiriman page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>