{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- For Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <title>ToysRent - Update Pemesanan</title>
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container bg-light my-3 d-flex justify-content-center">
			<form class="py-3 col-md-6 ">
				<h1 class="text-center" style="font-size:20pt">
					Form Update Pengiriman
                </h1>

                <div class="form-group row">
                    <label for="namaBarang" class="col-sm-2 col-form-label">Nama Barang</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="namaBarang" value="Barang 1 Merk A Warna Merah, Barang 2 Merk B Warna Biru">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="lamaSewa">Lama Sewa</label>
                    <input type="number" class="form-control" id="lamaSewa">
                </div>

                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status">
                        <option>Sedang dikonfirmasi</option>
                        <option>Sedang disiapkan</option>
                        <option>Sedang dikirim</option>
                        <option>Dalam masa sewa</option>
                        <option>Sudah dikembalikan</option>
                        <option>Batal</option>
                    </select>
                </div>

				<button type="submit" class="btn btn-primary">Update</button>
			</form>
		</div>
</body>
</html>