{% load static %}

<!DOCTYPE html>
<html lang="id">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />

        <link rel="stylesheet" href="{% static 'chat.css' %}" />
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{% static 'chat.js' %}"></script>
        <title>ToysRent - Chat</title>
    </head>

    <body>
        {% include 'navbar.html' %}

        <div class="container bg-light my-3 p-3">
            <section>
                <h1>Chat</h1>
                <section id="chat-frame" style="max-height: 90vh; overflow: auto;">
                    <div class="card text-left">
                        <div class="card-body">
                            <h5 class="card-title">Admin</h5>
                            <h6 class="card-subtitle mb-2 text-muted">at 26 April 2019, 5:30 PM</h6>
                            <p class="mb-0">Selamat datang di ToysRent</p>
                        </div>
                    </div>
                    <div class="card text-left">
                        <div class="card-body">
                            <h5 class="card-title">Admin</h5>
                            <h6 class="card-subtitle mb-2 text-muted">at 26 April 2019, 5:30 PM</h6>
                            <p class="mb-0">Ada yang bisa dibantu?</p>
                        </div>
                    </div>
                    <div class="card text-right">
                        <div class="card-body">
                            <h5 class="card-title">You</h5>
                            <h6 class="card-subtitle mb-2 text-muted">at 26 April 2019, 5:31 PM</h6>
                            <p class="mb-0">Halo hehehehhehe</p>
                        </div>
                    </div>
                </section>
                <form class="mt-3">
                    <div class="input-group">
                        <input type="text" id="chatInput" class="form-control" placeholder="Your message here">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" id="sendChat">Send</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </body>
</html>