{% load static %}

<!DOCTYPE html>
<html lang="id">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="{% static 'tugas_1.css' %}"> -->
    <title>ToysRent - Login</title>
  </head>

  <body>
    {% include 'navbar.html' %}
    
    <div class="container bg-light my-3 d-flex justify-content-center">
			<form class="py-3 col-md-6" action="/auth/login" method="POST">
				{% csrf_token %}
				<h1 class="text-center" style="font-size:20pt">
					Form Login
				</h1>

				<div class="form-group">
					<label for="no_ktp">Nomor KTP</label>
					<input type="text" class="form-control" id="no_ktp"
						placeholder="Masukkan Nomor KTP" name="no_ktp">
				</div>

				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email"
						placeholder="Masukkan Email" name="email">
				</div>
				<div style="color: red;">{{ error }}</div>
				<button type="submit" class="btn btn-primary">LOGIN</button>
			</form>
		</div>


  </body>
</html>
