{% load static %}

<!DOCTYPE html>
<html lang="id">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="{% static 'tugas_1.css' %}"> -->
    <title>ToysRent - Registrasi</title>
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="container bg-light my-3 d-flex justify-content-center">
			<form class="py-3 col-md-6" action="/auth/signup_admin" method="POST">
				{% csrf_token %}
				<h1 class="text-center" style="font-size:20pt">
					Form Pendaftaran Admin
				</h1>

				<div class="form-group">
					<label for="no_ktp">Nomor KTP</label>
					<input type="text" class="form-control" id="no_ktp"
						placeholder="Masukkan Nomor KTP" name="no_ktp">
					<div style="color: red;">{{ error.no_ktp }}</div>
				</div>

				<div class="form-group">
					<label for="nama">Nama Lengkap</label>
					<input type="text" class="form-control" id="nama"
						placeholder="Masukkan Nama Lengkap" name="nama">
					<div style="color: red;">{{ error.nama }}</div>
				</div>

				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email"
						placeholder="Masukkan Email" name="email">
					<div style="color: red;">{{ error.email }}</div>
				</div>

				<div class="form-group">
					<label for="tanggal_lahir">Tanggal Lahir</label>
					<input type="date" class="form-control" id="tanggal_lahir"
						placeholder="Masukan Tanggal Lahir" name="tanggal_lahir">
				</div>

				<div class="form-group">
					<label for="no_telp">Nomor Telepon</label>
					<input type="tel" class="form-control" id="no_telp"
						placeholder="Masukan Nomor Telepon" name="no_telp">
				</div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
