{% load static %}

<!DOCTYPE html>
<html lang="id">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="{% static 'tugas_1.css' %}"> -->
    <title>ToysRent - Registrasi</title>
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="container bg-light my-3 d-flex justify-content-center">
			<form class="py-3 col-md-6" action="/auth/signup_anggota" method="POST">
				{% csrf_token %}
				<h1 class="text-center" style="font-size:20pt">
					Form Pendaftaran Anggota
				</h1>

				<div class="form-group">
					<label for="no_ktp">Nomor KTP</label>
					<input type="text" class="form-control" id="no_ktp"
						placeholder="Masukkan Nomor KTP" name="no_ktp">
					<div style="color: red;">{{ error.no_ktp }}</div>
				</div>

				<div class="form-group">
					<label for="nama">Nama Lengkap</label>
					<input type="text" class="form-control" id="nama"
						placeholder="Masukkan Nama Lengkap" name="nama">
					<div style="color: red;">{{ error.nama }}</div>
				</div>

				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email"
						placeholder="Masukkan Email" name="email">
					<div style="color: red;">{{ error.email }}</div>
				</div>

				<div class="form-group">
					<label for="tanggal_lahir">Tanggal Lahir</label>
					<input type="date" class="form-control" id="tanggal_lahir"
						placeholder="Masukan Tanggal Lahir" name="tanggal_lahir">
				</div>

				<div class="form-group">
					<label for="no_telp">Nomor Telepon</label>
					<input type="tel" class="form-control" id="no_telp"
						placeholder="Masukan Nomor Telepon" name="no_telp">
				</div>

 				<div class="form-group"> 
          <label for="alamat">Alamat</label> 
          <div class="form-row">
            <div class="col-3">
              <select class="custom-select mr-sm-2" name="nama_alamat">
                <option value="Rumah">Rumah</option>
                <option value="Kantor">Kantor</option>
                <option value="Lainnya">Lainnya</option>
              </select>
            </div>        
            <div class="col">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Jl.</div>
                </div>
                <input type="text" name="jalan" class="form-control" placeholder="Nama Jalan"> 
              </div>
            </div>
            <div class="col-3">
              <input type="number" name="nomor" class="form-control" placeholder="Nomor">
            </div>
          </div>
          <div class="form-row">
            <div class="col-3">
              <input type="text" name="kota" class="form-control" placeholder="Kota">
            </div>
            <div class="col-3">
              <input type="text" name="kodepos" class="form-control" placeholder="Kodepos">
            </div>
          </div>
          <div style="color: red;">{{ error.alamat }}</div>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
