{% load static %}

<!DOCTYPE html>
<html lang="id">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="{% static 'tugas_1.css' %}"> -->
    <title>ToysRent - Registrasi</title>
  </head>

  <body>
    {% include 'navbar.html' %}
    <div class="container bg-light my-3 d-flex justify-content-center">
      <h1 class="text-center" style="font-size:20pt">
				CHOOSE YOUR ROLE 
        <div class="container my-3 d-flex justify-content-center">
          <a type="button" class="btn btn-primary" href="/auth/signup_admin">ADMIN</a>
        </div>
        <div class="container my-3 d-flex justify-content-center">
          <a type="button" class="btn btn-warning" href="/auth/signup_anggota">ANGGOTA</a>
        </div>
			</h1>
    </div>
    
  </body>
</html>
