{% load static %}

<!DOCTYPE html>
<html lang="id">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="{% static 'tugas_1.css' %}"> -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{% static 'item.js' %}"></script>
    <title>ToysRent - Tambah Item</title>
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="container bg-light my-3 d-flex justify-content-center">
			<form class="py-3 col-md-6" action="/item/create" method="POST">
				{% csrf_token %}
				<h1 class="text-center" style="font-size:20pt">
					Form Penambahan/Update Item
				</h1>

				<div class="form-group">
					<label for="nama_item">Nama</label>
					<input type="text" class="form-control" id="nama_item"
						placeholder="Masukan Nama Item" name="nama_item">
					<div style="color: red;">{{ error.nama_item }}</div>
				</div>

				<div class="form-group">
					<label for="deskripsi">Deskripsi</label>
					<input type="text" class="form-control" id="deskripsi"
						placeholder="Masukan Deskripsi" name="deskripsi">
				</div>

        <div class="form-group">
          <label for="usia_minimal">Usia Minimal </label>
          <input type="number" class="form-control" id="usia_minimal"
            placeholder="Masukan Usia Minimal" name="usia_minimal">
					<div style="color: red;">{{ error.usia_minimal }}</div>
        </div>

        <div class="form-group">
          <label for="usia_maksimal">Usia Maksimal </label>
          <input type="number" class="form-control" id="usia_maksimal"
            placeholder="Masukan Usia Maksimal" name="usia_maksimal">
					<div style="color: red;">{{ error.usia_maksimal }}</div>
        </div>        

				<div class="form-group">
					<label for="bahan">Bahan</label>
					<input type="text" class="form-control" id="bahan"
						placeholder="Masukan Nama Bahan" name="bahan">
				</div>

				<div class="form-group">
					<label for="kategori">Kategori</label>
					<select multiple class="form-control multi-select" id="kategori" name="kategori">
						{% for kategori in kategoris %}
						<option value="{{ kategori.0 }}">{{ kategori.0 }}</option>
						{% endfor %}
					</select>
					<small class="form-text text-muted">Ctrl+click or Shift+click for multiple select</small>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>

  </body>
</html>
