{% load static %}

<!DOCTYPE html>
<html lang="id">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    
    <!-- <link rel="stylesheet" href="{% static 'tugas_1.css' %}"> -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{% static 'item.js' %}"></script>

    <title>ToysRent - List Item</title>
  </head>

  <body>
    {% include 'navbar.html' %}

		<div class="container bg-light my-3">
			<h1 class="text-center" style="font-size:20pt">
				Daftar Item
			</h1>

			<div class="dropdown d-flex justify-content-end my-3">
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">No</a>
						<a class="dropdown-item" href="#">Nama Item</a>
						<a class="dropdown-item" href="#">Kategori</a>
						<a class="dropdown-item" href="#">Action</a>
						{% if is_admin %}<a class="dropdown-item" href="#">Action - Admin</a>{% endif %}
					</div>
				</div>
				
				<table id="item_table" class="table table-striped">
					<thead>
						<tr class="bg-primary text-light">
							<th scope="col">No</th>
							<th scope="col">Nama Item</th>
							<th scope="col">Kategori</th>
							<th scope="col">Action</th>
							{% if is_admin %}<th scope="col">Action - Admin</th>{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for item in items %}
						<tr>
							<th scope="row">{{ forloop.counter }}</th>
							<td> {{item.0}}</td>
							<td> {% for kategori_item in kategori_items %}
								{% if kategori_item.0 == item.0 %}
								{{kategori_item.1}} <br>
								{% endif %}
							{% endfor %}
							</td>
							<td><a type="button" class="btn btn-warning" href="/barang/">Lihat Barang</a></td>
							{% if is_admin %}
							<td>
								<a type="button" class="btn btn-primary" href="/item/create">Update</a>
								<a type="button" class="btn btn-danger" href="delete/{{item.0}}">Delete</a>
								<a type="button" class="btn btn-warning" href="/barang/create">Tambah Barang</a>
							</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
		</div>
  </body>
</html>
  