<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">[ ToysRent ]</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/signup">Signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/item">Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'barang:index' %}">Barang</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pemesanan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'app_pesanan:daftar_pemesanan' %}">Daftar Pemesanan</a>
                    <a class="dropdown-item" href="{% url 'app_pesanan:form_pemesanan' %}">Form Pemesanan</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app_pengiriman:list_pengiriman' %}">Pengiriman</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app_review:list_review' %}">Review</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLevel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Level
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownLevel">
                    <a class="dropdown-item" href="{% url 'app_level:daftar_level' %}">Daftar Level</a>
                    <a class="dropdown-item" href="{% url 'app_level:tambah_level' %}">Tambah Level</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profil</a>
            </li>
        </ul>
    </div>
</nav>
      