{% load static %}

<!DOCTYPE html>
<html lang="id">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- <link rel="stylesheet" href="{% static 'tugas_1.css' %}"> -->
    <link rel="stylesheet" href="{% static 'pengiriman.css' %}" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{% static 'pengiriman.js' %}"></script>
    <title>ToysRent - Buat Pengiriman</title>
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="container bg-light my-3 d-flex justify-content-center">
			<form class="py-3 col-md-6 ">
				<h1 class="text-center" style="font-size:20pt">
					Form Pembuatan Pengiriman
				</h1>
				<div class="form-group">
					<label for="barangPesanan">Barang Pesanan</label>
					<select multiple class="form-control" id="barangPesanan">
						<option>Barang 1</option>
						<option>Barang 2</option>
						<option>Barang 3</option>
						<option>Barang 4</option>
					</select>
				</div>

				<div class="form-group">
					<label for="alamat">Alamat Tujuan</label>
					<select class="form-control" id="alamat">
						<option>Alamat 1</option>
						<option>Alamat 2</option>
						<option>Alamat 3</option>
						<option>Alamat 4</option>
					</select>
				</div>

				<div class="form-group">
					<label for="tanggalPengiriman">Tanggal Pengiriman</label>
					<input type="date" class="form-control" id="tanggalPengiriman">
				</div>

				<div class="form-group">
					<label for="metode">Metode</label>
					<input type="text" class="form-control" id="metode"
						placeholder="Masukan metode">
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
  </body>
</html>
