{% load static %}

<!DOCTYPE html>
<html lang="id">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <!-- <link rel="stylesheet" href="{% static 'tugas_1.css' %}"> -->
    <link rel="stylesheet" href="{% static 'pengiriman.css' %}" />
    
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{% static 'pengiriman.js' %}"></script>



    <title>ToysRent - Pengiriman</title>
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="container bg-light my-3">
      <div class="dropdown d-flex justify-content-end my-3">
        <a
        class="btn btn-primary ml-2"
        href="form-create/"
        >
          Buat Pengiriman
        </a>

        <button
          class="btn btn-primary dropdown-toggle ml-2"
          type="button"
          data-toggle="dropdown"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Filter
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">ID Pengiriman</a>
          <a class="dropdown-item" href="#">Harga Total - Asc</a>
          <a class="dropdown-item" href="#">Harga Total - Desc</a>
          <a class="dropdown-item" href="#">Tanggal Pengiriman - Asc</a>
          <a class="dropdown-item" href="#">Tanggal Pengiriman - Desc</a>
        </div>
      </div>

      <table id="pengiriman_table" class="table table-striped">
        <thead>
          <tr class="bg-primary text-light">
            <th scope="col">ID Pengiriman</th>
            <th scope="col">Barang - ID Pemesanan</th>
            <th scope="col">Harga Total</th>
            <th scope="col">Tanggal Pengiriman</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for row in pengiriman %}
          <tr>
            <th scope="row">{{ row.0 }}</th>
            <td>
              {{ row.1 }}
            </td>
            <td>{{ row.3 }}</td>
            <td>{{ row.4 }}</td>
            <td>
              <a type="button" class="btn btn-primary" href="form-update/"
                >Update</a
              >
              <button type="button" class="btn btn-danger">Delete</button>
              <a type="button" class="btn btn-warning" href="form-create/"
                >Tulis Review</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </body>
</html>
