{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- For Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <title>ToysRent - Update Level</title>
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container bg-light my-3 d-flex justify-content-center">
			<form class="py-3 col-md-6 ">
                    <h1 class="text-center" style="font-size:20pt">
                        Update Level
                    </h1>
        
                    <div class="form-group">
                        <label for="namaLevel">Nama level</label>
                        <input type="text" class="form-control" id="namaLevel" value="GOLD">
                    </div>
        
                    <div class="form-group">
                        <label for="minimumPoin">Minimum poin</label>
                        <input type="number" class="form-control" id="minimumPoin" value="100">
                    </div>
        
                    <div class="form-group">
                        <label for="deskripsi">Deskripsi</label>
                        <input type="text" class="form-control" id="deskripsi" value="Level Menengah Atas">
                    </div>

				<button type="submit" class="btn btn-primary">Update</button>
			</form>
		</div>
</body>
</html>